html {
}

body {font-family: "Courier New", monospace;
   
    background-color: #d8ebf6;
}

::selection {
}

#theme-switcher {
}

label {
}

select {
}

#content {
}

h1 {
}

h1::first-letter {
}

time {
}

p {
}

ol {
}

li {
}

li:hover {
}

li::marker {
}

strong {
}

code {
}

a {
}

a:visited {
}

a:hover {
}
