@import url("https://use.typekit.net/udo2nph.css");

html {
}

body {
    background-color: rgb(255, 232, 240);
}

::selection {
}

#theme-switcher {
}

label {
}

select {
}

#content {
    font-size: 20px;
}

h1 {
    color: rgb(89, 145, 110);
    text-align: center;
    font-family: "chelsea-market-script", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1::first-letter {
    
}

time {
}

p {
    color: rgb(108, 179, 135);
    line-height: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ol {
    border: 3px dotted rgb(89, 145, 110);
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li {
    color:rgb(255, 232, 240);
}

li:hover {
    color: rgb(242, 165, 212);
}

li::marker {
}

strong {
}

code {
}

a {
}

a:visited {
}

a:hover {
}
