@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Pixelify+Sans:wght@400..700&family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&family=Petit+Formal+Script&family=Pixelify+Sans:wght@400..700&family=Schoolbell&display=swap');

html {
}

body {
    background-color: rgb(196, 207, 255);
}

::selection {
}

#theme-switcher {
}

label {
}

select {
}

#content {
}

h1 {
    font-family: "Petit Formal Script", cursive;
  font-weight: 800;
  font-style: normal;
    font-size: 40px;
    text-align: center;
    padding: 5%;
    color: rgb(14, 14, 75);
}

h1::first-letter {
}

time {
}

p {
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
border-style: solid;

}

ol {
     font-family: "Kotta One", serif;
  font-weight: 400;
  font-style: normal;
  padding: 5%;
  border-style: dotted;
  padding: 10%;
}

li {
}

li:hover {
}

li::marker {
}

strong {
}

code {
}

a {
}

a:visited {
}

a:hover {
}
